
@import "../../../styles/variables";

.headerItems{
    &:hover{
        transition: all .1s ease-in-out;
        transform: scale(1.2);
      }
}

.header-app{
    margin-bottom: 25px;
}

.languageSelect{

    left: -18px;
    box-shadow: 10px;
    box-shadow: -22px 11px 21px 3px rgba(0, 0, 0, 0.75);
    min-width: 95px;
}


