<div class="container col-10">

  <!-- Portfolio Item Heading -->
  <h2 class="my-2">{{'APP.TITLE' | translate}}
  </h2>

  <div class="row">
   
      <div class="col-md-8">
       <table class="table table-sm table-responsive-sm  table-striped  resumeTable">
          <thead>
              <tr>
                <th>{{'APP.CLIENTSPACE' | translate  | titlecase }}</th>
                <th>{{'APP.REJECT' | translate}}</th>
                <th>{{'APP.ERRORS' | translate}}</th>
                <th>{{'APP.PENDING' | translate}}</th>
              </tr>
            </thead>
       
         
        <tbody>
          <tr *ngFor="let item of resume" class="justify-content-center" >
            <td>{{item.name}}</td>
            <td (click)="setFilter({'name':'id', 'value':item.idCS,'route':'rejecteds'})"><span>{{item.reject}}</span></td>
            <td (click)="setFilter({'name':'id', 'value':item.idCS,'route':'errors'})"><span>{{item.error}}</span></td>
            <td (click)="setFilter({'name':'id', 'value':item.idCS,'route':'errors'})"><span>{{item.pending}}</span></td>
          </tr>
         
        </tbody>
        <thead>
            <tr>
              <th>{{'APP.TOTAL' | translate}}</th>
              <th>{{totals.rejects}}</th>
              <th>{{totals.errors}}</th>
              <th>{{totals.pending}}</th>
            </tr>
          </thead>
      </table>
    

    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
        varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
        convallis placerat, felis enim.</p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4 havasSquare">
     
        <p class="conteo" [ngClass]="{'isfinished':finished}">{{conteo}}</p>
        <p [ngClass]="{'isfinished':finished}">Files uploaded this week</p>
     
    </div>

    <div class="col-md-3 col-sm-6 mb-4 havasSquare">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 havasSquare">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 ">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->

</div>